.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
  isolation: isolate;
}

.header {
  padding-bottom: 64px;
  width: 65%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: fixed;
  top: 15%;
  bottom: 5%;
  margin-top: auto;
  margin-bottom: auto;
  width: 35%;
  min-height: 500px;
  right: 32px;
}

.controlsWrapper {
  isolation: isolate;
}

.controlColumn {
  width: 50%;
}

.perspectiveDecoration {
  position: fixed;
  top: 60%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsl(195deg, 20%, 86%);
}

@media (max-width: 768px) {
  .header {
    display: none;
  }

  .characterWrapper {
    right: auto;
    max-height: 80%;
  }

  .controlColumn {
    overflow-x: auto;
    position: fixed;
    bottom: 15%;
    right: 0;
    left: 0;
    width: auto;
    /* Increase touchable area of outer scroll container */
    padding: 16px 0;
    white-space: nowrap;
  }
}
