.controlPane {
  padding: 24px;
  /* Optical centering */
  padding-top: 18px;
  background-color: white;
  border-radius: 8px;
  /*
    HACK: Margin on an outer bound like this is
    a little gross, but we haven't seen the tools
    to deal with it yet!
  */
  margin-bottom: 32px;
  white-space: nowrap;
  overflow-x: auto;
  /*
   Fixes scrolling space on the right of controlColumn.
   Hidden buttons of last controlPane are somehow used for 
   calculating scrollable area without this being set ¯\_(ツ)_/¯
  */
  position: relative;
}

.title {
  margin: 0;
  margin-bottom: 16px;
}

.metadata {
  margin-left: 16px;
  font-size: 0.875rem;
  font-weight: 400;
  color: hsl(0deg, 0%, 30%);
}

@media (max-width: 768px) {
  .controlPane {
    display: inline-block;
    max-width: calc(100vw - 32px);
    margin: 16px;
    opacity: 0.97;
  }
}
